.Navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    height: 50px;
}

.Nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Nav_logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    gap: 50px;
}

.nav-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    flex-direction: column;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    padding: 7px;
    background-color: red;
    height: 15px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    color: white;
    top: -10px;
}